@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open-Sans-Regular"), url("../fonts/open-sans-regular.woff2") format("woff2"), url("../fonts/open-sans-regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Semi Bold"), local("Open-Sans-Semi-Bold"), url("../fonts/open-sans-semi-bold.woff2") format("woff2"), url("../fonts/open-sans-semi-bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/open-sans-bold.woff2") format("woff2"), url("../fonts/open-sans-bold.woff") format("woff");
}
