.promo {
  display: flex;
  flex-wrap: wrap;

  margin-top: 70px;
  padding-left: 70px;
}

.promo__info-wrapper {
  display: flex;
  flex-direction: column;
  order: 1;

  margin-left: 10px;
}

.promo__header {
  margin-top: 6px;
  margin-left: 7px;
  margin-bottom: 0;

  font-weight: 700;
  font-size: 30px;
  line-height: 41px;

  color: #48494D;
}

.characteristics {
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
  padding-left: 7px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;

  color: #48494D;
  opacity: 0.5;
}

.characteristics__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 70px;
  margin-right: 4px;

  text-transform: lowercase;
}

.prices {
  display: flex;
  flex-wrap: wrap;

  margin-top: 37px;
}

.prices__new {
  margin-left: 7px;

  font-weight: 700;
  font-size: 35px;
  line-height: 48px;

  color: #48494D;
}

.prices__old {
  position: relative;

  margin-left: 36px;
  margin-top: 12px;

  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  color: #48494D;
  opacity: 0.5;

  &::before {
    position: absolute;

    content: '';

    width: 123px;
    height: 15px;
    left: -4px;
    top: -3px;

    border-bottom: 1px solid #A3A4A6;
    transform: rotate(-5deg);
  }
}

.prices__order-button {
  width: 196px;

  margin-top: 37px;
  margin-left: 4px;
}

.prices__credit-button {
  width: 222px;

  margin-top: 17px;
  margin-left: 4px;

  border: 1px solid #D12136;
}

.promo__images-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-right: 40px;
  padding-top: 20px;
}

.promo__image {
  width: 600px;
  height: 375px;
}

.promo__label {
  position: absolute;

  box-sizing: border-box;

  top: 10px;
  left: 0;
  width: 122px;
  height: 30px;
  padding-top: 7px;

  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #FFFFFF;
  background: #D12136;
}

.promo__pagination-wrapper {
  display: flex;

  margin-top: 39px;
}

.promo__pagination-button {
  min-width: auto;
  min-height: auto;
  width: 52px;
  height: 52px;
  margin-top: 14px;
  padding-top: 7px;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #D7D9DF;

  &--prev {
    margin-right: 31px;
    padding-top: 5px;
    transform: rotate(180deg);
  }

  &--next {
    margin-left: 31px;
  }

  &:hover {
    background-color: transparent;
  }
}

.promo__pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-width: 434px;
}

.promo__pagination-image {
  width: 128px;
  height: 80px;
}
