.contacts {
  display: flex;
  flex-wrap: wrap;

  margin-top: -3px;
}

.contacts__list {
  margin-right: 98px;
}

.contacts__type {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  margin: 0;

  color: #1A212F;
}

.contacts__info {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  width: 250px;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 27px;

  color: #000000;
}

.contacts__map {
  margin-top: 3px;
}
